<main>
  <h2>Angular Universal sur Firebase</h2>

  <p>
    Ce site est un projet Angular hébergé sur Firebase servant de tutoriel.
  </p>

  <p>
    Plus d'informations disponible dans l'acticle suivant :
    <a href="https://tech.levert.xyz/posts/angular-on-firebase/">
      https://tech.levert.xyz/posts/angular-on-firebase/
    </a>
  </p>
</main>
